.mapContainer{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}
.map{
    width: 100%;
    height: 100%;
    [class*=ymaps-2][class*=-ground-pane] {
        filter: grayscale(100%) brightness(100%) contrast(75%) invert(100%);
    }
    [class*=ymaps-2-1-79-controls__control_toolbar] {
        display: none;
    }
}
.contactMain{
    position: relative;
    &__info{
        @include fluid(margin-bottom, 30px, 46px);
        &-numberBlock{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &-numberLink{
            @include fontProBold(#FFF);
            @include fluid(font-size, 28px, 32px);
            text-decoration: none;
            span{
                color: #EC4015;
            }
        }
        &-number{
            display: flex;
            align-items: center;
            gap: 15px;
            text-decoration: none;
            &:hover{
                .contactMain__info-icon{
                    color: #FFF;
                }
            }
        }
        &-icon{
            @include fluid(font-size, 27px, 32px);
            color: #8B8E9E;
            transition: color 0.38s ease-in-out;
        }
    }
}

.contactInfo{
    @include fluid(gap, 100px, 120px);
    @include fluid(margin-bottom, 30px, 70px);
    display: flex;
    &__item{
        display: flex;
        flex-direction: column;
        gap: 30px;
        &-adress{
            @include fontProReg(#FFF);
            @include fluid(font-size, 14px, 16px);
            margin-bottom: 10px;
        }
        &-phone{
            @include fontProBold(#FFF);
            @include fluid(font-size, 18px, 20px);
            text-decoration: none;
            span{
                color: #EC4015;
            }
        }
        &-block{
            &:last-child{
                @include fluid(margin-top, 50px, 70px);
            }
        }
        &-social{
            display: flex;
            gap: 40px;
        }
        &-icon{
            @include fluid(font-size, 20px, 24px);
            text-decoration: none;
            color: #8B8E9E;
            transition: color 0.38s ease-in-out;
            cursor: pointer;
            &:hover{
                color: #FFF;
            }
        }
    }
}
