@media (max-width: 1550px) {
    .containerPage{
        flex-wrap: wrap;
        gap: 30px;
        &__item{
            .ourOrder{
                margin-top: 0;
                padding-top: 30px;
                border-top: 1px solid #40424A;
            }
            &:nth-child(2){
                margin-top: 0;
                margin-bottom: 60px;
                padding: 0;
                border-left: none;
            }
            .modalBasket{
                &__button{
                    align-items: center;
                    &-checkout{
                        width: 430px;
                    }
                }
            }
        }
    }
    .orderingForm{
        &__item{
            width: 100%;
            input{
                max-width: none;
            }
        }
    }
    .dontForget{
        margin: 0;
    }
}

@media (max-width: 992px) {
    .containerPage{
        gap: 0;
        &__item{
            &:first-child{
                margin: 30px 0;
            }
            &:nth-child(2){
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .orderingForm{
        flex-wrap: wrap;
        justify-content: center;
    }
    .gift__cards, .dontForget__cards{
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .containerPage{
        &__item{
            .modalBasket{
                &__button{
                    &-checkout{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 345px) {
    .orderingForm{
        &__points{
            flex-wrap: wrap;
        }
    }
}