@import "_mixins";

h2{
  @include fontProBold(#8B8E9E);
  @include fluid(font-size, 28px, 32px);
  margin-bottom: 30px;
  margin-top: 31px;
}
.paragraph{
  @include fontProReg(#8B8E9E);
  font-size: 14px;
  margin-bottom: 16px;
  &--middle{
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.containerPage{
  @include fluid(gap, 30px, 60px);
  display: flex;
  position: relative;
  height: 100%;
  &--gap{
    @include fluid(gap, 30px, 60px);
  }
  &__item{
    position: relative;
    &-ourOrder{
      // @include fluid(margin-top, 70px, 91px);
      margin-top: 91px;
      margin-bottom: 50px;
    }
    &-priceOrder{
      @include fluid(margin-bottom, 30px, 60px);
      @include fluid(font-size, 28px, 32px);
      @include fontProBold(#FFF);
      p{
        @include fluid(font-size, 13px, 14px);
        @include fontProBold(#8B8E9E);
        margin-bottom: 10px
      }
    }
    &:first-child{
      @include fluid(padding-right, 0px, 60px);
      margin: 60px 0;
      border-right: 1px solid #40424A;
    }
    &:nth-child(2){
      @include fluid(padding-right, 0px, 30px);
      position: relative;
      overflow-x: hidden;
      width: 100%;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
    &--order{
      &:first-child{
        @include fluid(padding-right, 0px, 114px);
      }
    }
  }
}
.orderingForm{
  @include fluid(gap, 30px, 60px);
  position: relative;
  display: flex;
  &__item{
    @include fluid(width, 340px, 382px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--full{
      width: 100%;
      p{
        margin-top: 30px;
      }
    }
    &--bottom{
      width: 100% ;
      input{
        max-width: unset;
      }
    }
  }
  input[type= radio]{
    margin-bottom: 16px;
  }
  .select{
    margin-top: 30px;
  }
  &__quantity{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    &-number{
      @include fontProReg(#8B8E9E);
      @include fluid(font-size, 14px, 16px);
      transition: color 0.38s ease-in-out;
      cursor: pointer;
      &--active{
        color: #EC4015;
      }
      &:not(.orderingForm__quantity-number--active){
        &:hover{
          color: #FFF;
        }
      }
    }
  }
  &__delivery{
    &-radio{
      display: flex;
      flex-direction: column;
    }
    &-radioBtn{
      display: flex;
      label{
        @include fontProReg(#FFF);
        @include fluid(font-size, 14px, 16px);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 5px;
        span{
          color: #8B8E9E;
          font-size: 10px;
        }
      }
      input[type="radio"]{
        cursor: pointer;
        appearance: none;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background-color: rgba(57, 61, 70, 1);
        border: rgba(43, 46, 54, 1) 6px solid;
        transition: 0.2s all linear;
        margin-right: 16px;
        &:checked{
          border: #EC4015 6px solid;
          background-color: #FFF;
        }
      }
    }
    &-radioContainer{
      display: flex;
      justify-content: space-between;
      span{
        @include fontProReg(#8B8E9E);
        font-size: 13px;
      }
    }
  }
  &__points{
    display: flex;
    justify-content: space-between;
    span{
      color: #EC4015;
    }
  }
}
.gift{
  @include fluid(margin-bottom, 30px, 60px);
  position: relative;
  &__cards{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    &-item{
      background-color: #2B2E36;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      gap: 20px;
      width: 264px;
      img{
        object-fit: cover;
        width: 72px;
        height: 72px;
        border-radius: 5px;
      }
      &--active{
        .gift__cards-btn{
          background-color: #EC4015;
        }
      }
      &--unactive{
        .gift__cards-text{
          color: #8B8E9E;
        }
        .gift__cards-btn{
          cursor: unset;
          background-color: #313540;
          color: #464B5D;
        }
      }
    }
    &-textBtn{
      display: flex;
      flex-direction: column;
      gap: 21px;
    }
    &-text{
      @include fontProSemiBold(#FFF);
      @include fluid(font-size, 14px, 16px);
      white-space: nowrap
    }
    &-btn{
      @include fontProReg(#FFF);
      cursor: pointer;
      font-size: 13px;
      background-color: #3C404E;
      display: flex;
      height: 32px;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 10px;
    }
  }
}
.dontForget{
  @include fluid(margin-bottom, 30px, 60px);
  position: relative;
  &__cards{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    &-item{
      display: flex;
      flex-direction: column;
      width: 199px;
      cursor: pointer;
      img{
        object-fit: cover;
        height: 124px;
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
    }
    &-info{
      padding: 15px;
      border-radius: 0 0 10px 10px;
      background-color: #2B2E36;
    }
    &-infoTitle{
      @include fontProSemiBold(#FFF);
      @include fluid(font-size, 14px, 16px);
      margin-bottom: 10px;
    }
    &-infoSubtitle{
      @include fontProReg(#8B8E9E);
      font-size: 13px;
      margin-bottom: 20px;
    }
    &-infoBtn{
      @include fontProReg(#FFF);
      @include fluid(font-size, 13px, 14px);
      text-align: center;
      padding: 12px 24px;
      background-color: #EC4015;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: center;
      cursor: pointer;
      transition: all 0.38s ease-in-out;
      &:hover{
        background-color: #FFF;
        color: #EC4015;
        .icon-basket{
          color: #EC4015;
        }
      }
      .icon-basket{
        transition: all 0.38s ease-in-out;
      }
    }
  }
}
.formContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
}