@import '_mixins';

h2 {
  @include fontProBold(#8b8e9e);
  @include fluid(font-size, 28px, 32px);
  margin-bottom: 30px;
  margin-top: 31px;
}

.containerPage {
  @include fluid(gap, 30px, 60px);
  display: flex;
  position: relative;
  height: 100%;
  &--gap {
    @include fluid(gap, 30px, 60px);
  }
  &__item {
    position: relative;
    .ourOrder {
      // @include fluid(margin-top, 70px, 91px);
      margin-top: 91px;
      margin-bottom: 50px;
    }
    &:first-child {
      @include fluid(padding-right, 0px, 60px);
      margin: 60px 0;
      border-right: 1px solid #40424a;
    }
    &:nth-child(2) {
      @include fluid(padding-right, 0px, 30px);
      position: relative;
      overflow-x: hidden;
      width: 100%;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
    .modalBasket__order {
      margin-bottom: 30px;
      &-price {
        @include fluid(margin-bottom, 30px, 60px);
        @include fluid(font-size, 28px, 32px);
        @include fontProBold(#fff);
        p {
          @include fluid(font-size, 13px, 14px);
          @include fontProBold(#8b8e9e);
          margin-bottom: 10px;
        }
      }
    }
    &--order {
      &:first-child {
        @include fluid(padding-right, 0px, 114px);
      }
    }
  }
}
.orderingForm {
  @include fluid(gap, 30px, 60px);
  position: relative;
  display: flex;
  &__item {
    @include fluid(width, 340px, 382px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      @include fontProReg(#8b8e9e);
      font-size: 14px;
      margin-bottom: 16px;
      transition: color 0.38s ease-in-out;
    }
    input {
      @include fontProReg(#fff);
      @include fluid(font-size, 14px, 16px);
      padding-bottom: 10px;
      max-width: 370px;
      border: none;
      outline: none;
      width: 100%;
      border-bottom: 1px solid #3a3b41;
      background-color: rgba(0, 0, 0, 0);
      margin-bottom: 25px;
      transition:
        color 0.38s ease-in-out,
        border 0.38s ease-in-out;
      &::placeholder {
        @include fontProReg(#3a3b41);
        @include fluid(font-size, 14px, 16px);
        transition: color 0.38s ease-in-out;
      }
      &:-webkit-autofill {
        background-color: transparent !important;
      }
      &:focus,
      &:hover {
        color: #fff;
        border-color: #fff;
        &::placeholder {
          color: #fff;
        }
      }
    }
    &--full {
      width: 100%;
      p {
        margin-top: 30px;
      }
    }
    &--bottom {
      width: 100% !important;
      input {
        max-width: unset;
      }
    }
  }
  .select {
    margin-top: 30px;
  }
  &__quantity {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    &-number {
      @include fontProReg(#8b8e9e);
      @include fluid(font-size, 14px, 16px);
      transition: color 0.38s ease-in-out;
      cursor: pointer;
      &--active {
        color: #ec4015;
      }
      &:not(.orderingForm__quantity-number--active) {
        &:hover {
          color: #fff;
        }
      }
    }
  }
  &__delivery {
    &-radio {
      display: flex;
      flex-direction: column;
    }
    &-radioBtn {
      display: flex;
      label {
        @include fontProReg(#fff);
        @include fluid(font-size, 14px, 16px);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 5px;
        span {
          color: #8b8e9e;
          font-size: 10px;
        }
      }
      input[type='radio'] {
        cursor: pointer;
        appearance: none;
        border-radius: 50%;
        width: 24px;
        border: none;
        height: 24px;
        background-color: rgba(57, 61, 70, 1);
        border: rgba(43, 46, 54, 1) 6px solid;
        transition: 0.2s all linear;
        margin-right: 16px;
        &:checked {
          border: #ec4015 6px solid;
          background-color: #fff;
        }
      }
    }
    &-radioContainer {
      display: flex;
      justify-content: space-between;
      span {
        @include fontProReg(#8b8e9e);
        font-size: 13px;
      }
    }
  }
  &__points {
    display: flex;
    justify-content: space-between;
    span {
      color: #ec4015;
    }
  }
}
.gift {
  @include fluid(margin-bottom, 30px, 60px);
  position: relative;
  &__cards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    &-item {
      background-color: #2b2e36;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      gap: 20px;
      width: 264px;
      img {
        object-fit: cover;
        width: 72px;
        height: 72px;
        border-radius: 5px;
      }
      &--active {
        .gift__cards-btn {
          background-color: #ec4015;
        }
      }
      &--unactive {
        .gift__cards-text {
          color: #8b8e9e;
        }
        .gift__cards-btn {
          cursor: unset;
          background-color: #313540;
          color: #464b5d;
        }
      }
    }
    &-textBtn {
      display: flex;
      flex-direction: column;
      gap: 21px;
    }
    &-text {
      @include fontProSemiBold(#fff);
      @include fluid(font-size, 14px, 16px);
      white-space: nowrap;
    }
    &-btn {
      @include fontProReg(#fff);
      cursor: pointer;
      font-size: 13px;
      background-color: #3c404e;
      display: flex;
      height: 32px;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 10px;
    }
  }
}
.dontForget {
  @include fluid(margin-bottom, 30px, 60px);
  position: relative;
  &__cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    &-item {
      display: flex;
      flex-direction: column;
      width: 199px;
      cursor: pointer;
      img {
        object-fit: cover;
        height: 124px;
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
    }
    &-info {
      padding: 15px;
      border-radius: 0 0 10px 10px;
      background-color: #2b2e36;
    }
    &-infoTitle {
      @include fontProSemiBold(#fff);
      @include fluid(font-size, 14px, 16px);
      margin-bottom: 10px;
    }
    &-infoSubtitle {
      @include fontProReg(#8b8e9e);
      font-size: 13px;
      margin-bottom: 20px;
    }
    &-infoBtn {
      @include fontProReg(#fff);
      @include fluid(font-size, 13px, 14px);
      text-align: center;
      padding: 12px 24px;
      background-color: #ec4015;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.modalAddress {
  @include fluid(width, 350px, 442px);
  @include fluid(top, 215px, 300px);
  right: 50%;
  transform: translate(65%, 0);
  padding: 30px;
  border-radius: 10px;
  background: #2b2e36;
  transition: opacity 0.38s ease-in-out;
  position: fixed;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition:
    z-index 0.38s ease-in-out,
    opacity 0.38s ease-in-out,
    visibility 0.38s ease-in-out;
  &--visible {
    z-index: 50;
    opacity: 1;
    visibility: visible;
  }
  &__title {
    @include fontProBold(#8b8e9e);
    @include fluid(font-size, 20px, 24px);
    margin-top: 0;
  }
  .dontForget__cards-infoBtn {
    margin-top: 5px;
    padding: 16px 0;
  }
}
.modal {
  @include fluid(top, 215px, 200px);
  @include fluid(right, 50px, 90px);
  @include fluid(width, 350px, 442px);
  // display: none;
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition:
    z-index 0.38s ease-in-out,
    opacity 0.38s ease-in-out,
    visibility 0.38s ease-in-out;
  padding: 30px;
  border-radius: 10px;
  background: #2b2e36;
  text-align: center;
  &--visible {
    z-index: 50;
    opacity: 1;
    visibility: visible;
  }
  h2 {
    margin-bottom: 20px;
  }
  &__subtitle {
    @include fontProReg(#fff);
    @include fluid(font-size, 14px, 16px);
    margin-bottom: 30px;
    line-height: 135%;
    &--dark {
      color: #8b8e9e;
    }
    &--after {
      @include fontProSemiBold(#464b5e);
      margin-top: 16px;
      margin-bottom: 0;
    }
  }
  img {
    width: 173px;
    height: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .dontForget__cards-infoBtn {
    width: 100%;
    padding: 16px 24px;
    &--grey {
      background-color: #40424a;
      color: #8b8e9e;
    }
  }
  &__buttons {
    display: flex;
    gap: 10px;
    &--vertical {
      flex-direction: column;
    }
  }
  input {
    @include fontProReg(#fff);
    font-size: 24px;
    padding-bottom: 10px;
    max-width: 370px;
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #3a3b41;
    background-color: rgba(0, 0, 0, 0);
    transition:
      color 0.38s ease-in-out,
      border 0.38s ease-in-out;
    &::placeholder {
      @include fontProReg(#3a3b41);
      font-size: 24px;
      transition: color 0.38s ease-in-out;
      color: #fff;
      font-size: 24px;
    }
    &:-webkit-autofill {
      background-color: transparent !important;
    }
    &:focus,
    &:hover {
      color: #fff;
      border-color: #fff;
      &::placeholder {
        color: #fff;
      }
    }
  }
  .personalInfo__formItem-input {
    margin-bottom: 30px;
    text-align: center;
    &::placeholder {
      color: #fff;
      font-size: 24px;
    }
  }
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
