@media (max-width: 1550px) {
    .containerPage{
        flex-wrap: wrap;
        gap: 30px;
        &__item{
            &-ourOrder{
                margin-top: 0;
                padding-top: 30px;
                border-top: 1px solid #40424A;
            }
            .secondItem{
                margin-top: 0;
                margin-bottom: 60px;
                padding: 0;
                border-left: none;
            }
        }
    }
    .buttonOrder{
        align-items: center;
        margin-bottom: 30px;
        &__checkout--width{
            width: 40%;
        }
    }
    .orderingForm{
        &__item{
            width: 100%;
            input{
                max-width: none;
            }
        }
    }
    .dontForget{
        margin: 0;
    }
}

@media (max-width: 992px) {
    h2{
        margin-top: 5px;
    }
    .buttonOrder{
        margin-bottom: 0;
    }
    .containerPage{
        gap: 0;
        &__item{
            .firstItem{
                margin: 30px 0;
            }
            .secondItem{
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .orderingForm{
        flex-wrap: wrap;
        justify-content: center;
    }
    .gift__cards, .dontForget__cards{
        justify-content: center;
    }
    .buttonOrder{
        align-items: center;
        &__checkout--width{
            width: 100%;
        }
    }
}


@media (max-width: 345px) {
    .orderingForm{
        &__points{
            flex-wrap: wrap;
        }
    }
}