@media (max-width: 1340px){
    .grid{
        &__infoBottom{
            flex-direction: column;
            gap: 10px;
            .grid__bottomButton{
                margin: 0;
                justify-content: center;
                align-items: center;    
            }
        }
    }
}
@media (max-width: 992px) {
    .modalFood{
        width: 680px;
        right: 50%;
        transform: translate(50%, 3%);
    }
    .filter{
        &__box{
            flex-wrap: wrap;
        }
    }
}
@media (max-width: 768px) {
    .modalFood{
        width: 350px;
        top: 50%;
        right: 50%;
        transform: translate(50%, -47%);
        &__grid{
            position: relative;
            grid-template-columns: 1fr;
            img{
                height: 295px;
                border-radius: 10px 10px 0 0;
            }
        }
        &__info{
            &-block{
                margin: 0;
                padding-bottom: 30px;
            }
            &-button{
                position: absolute;
                top: 5px;
                right: 9px;
                background-color: transparent;
                font-size: 18px;
            }
        }
    }
    .main{
        .grid{
            &__item{
                img{
                    height: 200px;
                }
            }
        }
        .gridTop{
            flex-wrap: wrap;
            .grid__item{
                &:nth-child(-n+2){
                    flex-basis: calc(49% - 10px);
                }
                &:nth-child(n+2){
                    flex-basis: calc(49% - 10px);
                }
            }
        }
        .gridBottom{
            flex-wrap: wrap;
            .grid__item{
                &:nth-child(-n+3){
                    flex-basis: calc(32.333333% - 10px);
                }
                &:nth-child(n+4){
                    flex-basis: calc(49% - 10px);
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .modalFood{
        transform: translate(50%, -51%);
        width: 300px;
        &__grid{
            img{
                height: 230px;
            }
        }
        .table{
            flex-wrap: wrap;
        }
    }
    .main{
        .gridMiddle{
            flex-direction: column;
        }
        .gridBottom{
            .grid__item{
                &:nth-child(-n+3){
                    flex-basis: calc(100% - 10px);
                }
            }
        }
        .titleMain{
            margin-bottom: 30px;
            &__title{
                margin-top: unset;
                margin: 0 auto;
                font-size: 35px;
                
            }
            &__gift{
                position: fixed;
                bottom: 0;
                right: 0;    
                margin-bottom: 20px;
                margin-right: 20px;
            }
        }
        .sortFilter{
            flex-wrap: wrap;
            &__item{
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
}
@media (max-width: 375px) {
    .container{
        padding-left: 10px;
    }
    .titleMain__gift{
        width: 70px;
        height: 70px;
        svg{
            width: 30px;
            height: 30px;
        }
    }
    .modalFood{
        transform: translate(50%, -53%);
        width: 255px;
        &__grid{
            img{
                height: 185px;
            }
        }
        &__info{
            &-box{
                flex-direction: column;
                gap: 20px;
                align-items: baseline;
            }
            &-boxButton{
                margin: 0;
                width: 100%;
            }
            &-btnBasket{
                width: 100%;
                justify-content: center;
            }
        }
    }
    .main{
        .titleMain{
            &__title{
                font-size: 29px;  
            }
        }
        .gridTop, .gridBottom, .gridMiddle{
            flex-direction: column;
            .grid__item{
                width: auto;
            }
        }
        .grid{
            margin-bottom: 30px;
        }
    }
}