.container {
  @include fluid(padding-left, 10px, 60px);
  @include fluid(padding-right, 10px, 30px);
  position: relative;
  height: 100%;
  background-color: #232428;
}
.titleMain {
  @include fluid(margin-top, 20px, 30px);
  @include fluid(margin-bottom, 30px, 40px);
  position: relative;
  display: flex;
  align-items: center;
  &__title {
    @include fontProBold(#fff);
    @include fluid(font-size, 56px, 64px);
    @include fluid(margin-top, 0px, 30px);
  }
  .translate {
    transform: translateX(-435%);
  }
  &__gift {
    @include fluid(width, 80px, 100px);
    @include fluid(height, 80px, 100px);
    transition: transform 0.38s ease-in-out;
    z-index: 40;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #30323b;
    position: relative;
    border-radius: 50%;
    border: none;
    margin-left: auto;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 7px solid #ec4015;
      border-radius: 50%;
      clip-path: circle(50% at 0% 50%);
      transition: opacity 0.38s ease-in-out;
    }
  }
}
.sortFilter {
  @include fluid(margin-bottom, 30px, 40px);
  @include fluid(gap, 20px, 30px);
  display: flex;
  position: relative;
  &__itemLink {
    @include fontProReg(#8b8e9e);
    @include fluid(font-size, 16px, 18px);
    @include fluid(gap, 12px, 15px);
    list-style: none;
    display: flex;
    align-items: center;
    transition: color 0.38s ease-in-out;
    &:hover {
      color: #fff;
    }
    &-icon {
      font-size: 17px;
    }
  }
  &__item {
    &:first-child {
      @include fluid(padding-right, 20px, 30px);
      border-right: 1px solid #8b8e9e;
    }
    &:last-child {
      margin-left: auto;
    }
  }
}
.filter {
  @include fluid(margin-bottom, 30px, 40px);
  display: none;
  position: relative;
  &__box {
    @include fluid(margin-bottom, 20px, 30px);
    @include fluid(gap, 8px, 10px);
    display: flex;
  }
  &__button {
    @include fontProReg(#ffffff);
    @include fluid(font-size, 13px, 14px);
    @include fluid(padding-bottom, 8px, 10px);
    @include fluid(padding-top, 8px, 10px);
    @include fluid(padding-right, 15px, 20px);
    @include fluid(padding-left, 15px, 20px);
    display: flex;
    gap: 5px;
    align-items: baseline;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #40424a;
    transition: all 0.38s ease-in-out;
    &--active {
      cursor: pointer;
      border: 1px solid #ec4015;
      .filter__button-icon {
        display: block;
        opacity: 1;
      }
    }
    &--hover {
      cursor: pointer;
      border: 1px solid #40424a;
      &:hover {
        border: 1px solid #ec4015;
      }
    }
    &--unavailable {
      color: #40424a;
    }
    &-icon {
      display: none;
      font-size: 9px;
      opacity: 0;
      transition: opacity 0.38s ease-in-out;
    }

  }
  &__btnDone {
    @include fontProReg(#ffffff);
    @include fluid(font-size, 13px, 14px);
    @include fluid(padding-bottom, 10px, 12px);
    @include fluid(padding-top, 10px, 12px);
    @include fluid(padding-right, 20px, 24px);
    @include fluid(padding-left, 20px, 24px);
    cursor: pointer;
    background-color: #ec4015;
    border: #ec4015;
    border-radius: 20px;
  }
}
.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #232428;
  z-index: 0;
  transition: all 0.38s ease-in-out;
  &--unactive {
    opacity: 0.8;
    z-index: 9;
  }
}
.gridTop,
.gridMiddle,
.gridBottom {
  @include fluid(gap, 10px, 30px);
  display: flex;
}
.gridTop {
  .grid__item {
    width: 25%;
  }
}
.gridMiddle {
  .grid__item {
    width: 33%;
  }
}
.gridBottom {
  .grid__item {
    width: 20%;
  }
  img {
    @include fluid(height, 120px, 218px);
  }
}
.grid {
  @include fluid(margin-bottom, 60px, 80px);
  @include fluid(gap, 10px, 30px);
  flex-direction: column;
  display: flex;
  position: relative;
  &__item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    img {
      @include fluid(height, 140px, 236px);
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      border-radius: 10px 10px 0 0;
    }
  }
  &__info {
    @include fluid(padding, 15px, 20px);
    background-color: #2b2e36;
    border-radius: 0px 0px 10px 10px;
  }
  &__infoTitle {
    @include fontProSemiBold(#ffffff);
    @include fluid(font-size, 16px, 18px);
  }
  &__infoText {
    @include fontProReg(#8b8e9e);
    @include fluid(font-size, 13px, 14px);
    @include fluid(margin-top, 8px, 10px);
    @include fluid(margin-bottom, 20px, 30px);
    align-self: stretch;
    line-height: 125%;
  }
  &__infoBottom {
    display: flex;
  }
  &__bottomPrice {
    display: flex;
    flex-direction: column;
  }
  &__bottomRub {
    @include fontProSemiBold(#ffffff);
    @include fluid(font-size, 18px, 20px);
  }
  &__bottomGr {
    @include fontProReg(#8b8e9e);
    @include fluid(font-size, 12px, 12px);
  }
  &__bottomButton {
    @extend .filter__btnDone;
    @include fluid(padding-right, 10px, 24px);
    @include fluid(padding-left, 10px, 24px);
    @include fluid(gap, 8px, 10px);
    white-space: nowrap;
    display: flex;
    margin-left: auto;
    border-radius: 10px;
    transition: all 0.38s ease-in-out;
    &:hover{
      background-color: #FFFFFF;
      color: #EC4015;
      .grid__bottomButton-icon{
        color: #EC4015;
      }
    }
    &-icon{
      transition: color 0.38s ease-in-out;
      color: #FFFFFF;
    }
  }
}


