@media (max-width: 1550px) {
    .modal{
        &--address{
            transform: translate(80%, 0%);
        }
    }
    .personalInfo{
        &__form{
            gap: 20px;
        }
        &__formItem{
            width: 50%;
        }
    }
    .miniTitle{
        &--profile{
            border-top: 1px solid #40424A;
            margin-top: 0;
            padding-top: 30px;
        }
    }
    .containerPage{
        &__item{
            width: 100%;
        }
    }
    .firstItem{
        border: none;
    }
    .profileChoise{
        display: flex;
        width: auto;
        justify-content: space-between;
        &__likeHistory{
            flex-direction: unset;
            margin: 0;
            padding: 0 30px;
            border-left: 1px solid #3a3b41;
            border-right: 1px solid #3a3b41;
            border-top: none;
            border-bottom: none;
        }
    }
    .likeInfo{
        padding: 0;
        &__grid-item{
            width: 100%;
            img{
                height: 165px;
            }
        }
        &__itemInfo-buttons{
            justify-content: space-between;
        }
    }
}

@media (max-width: 992px) {
    .modal{
        &--address{
            transform: translate(50%, 10%);
        }
    }
    .profileChoise{
        &__user, &__exit{
            gap: 15px;
        }
        &__likeHistory{
            padding: 0 20px;
        }
    }
    .secondItem{
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .modal{
        &--address{
            .modal__title{
                text-align: left;
            }
        }
    }
    .profileChoise{
        width: 100%;
        flex-wrap: wrap;
        gap: 30px;
        &__user{
            .icon-user{
                font-size: 22px;
            }
            svg{
                width: 22px;
                height: 22px;
            }
        }
        &__likeHistory{
            border: none;
            padding: 0;
        }
    }
    .history__grid{
        grid-template-columns: unset;
    }
}

@media (max-width: 576px) {
    .miniTitle{
        &--profile{
            text-align: center;
        }
    }
    .modal{
        &--address{
            transform: translate(50%, -5%);
            width: 395px;
        }
    }
    .profileChoise{
        width: auto;
        &__user-points{
            margin: 0;
            font-size: 13px;
        }
    }
    .personalInfo{
        &__form{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__formItem{
            width: 100%;
        }
        &__button{
            margin-right: auto;
            margin-left: auto;
            display: block;
            width: 230px;
        }
    }
    .likeInfo{
        &__grid-item{
            img{
                height: 200px;
            }
        }
    }
}

@media (max-width: 460px) {
    .modal{
        &--address{
            width: 260px;
            .personalInfo__formItem-containerHome{
                flex-direction: column;
                gap: 0;
            }
        }
    }
    .history__hiddenBlock-infoItem{
        .paragraph{
            font-size: 12px;
        }
    }
}

@media (max-width: 345px) {
    .profileChoise{
        &__likeHistory{
            flex-direction: column;
        }
    }
    .history{
        &__item-gallery{
            img{
                width: 35px;
                height: 35px;
            }
        }
        &__hiddenBlock-text{
            font-size: 13px;
            &--big{
                font-size: 15px;
            }
        }
    }
}