@media (max-width: 576px){
    .category{
        .subtitle{
            text-align: center;
            font-size: 29px;
        }
    }
}
@media (max-width: 345px){
    .category{
        .grid{
            margin-bottom: 30px;
        }
    }
    
}