.css{
  &-1fdsijx-ValueContainer{
    padding: 0 !important;
  }
  &-13cymwt-control {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #3A3B41 !important;
    border-radius: 0px !important;
    min-height: auto !important;
    @include fluid(padding-bottom, 8px, 10px);
    @include fluid(margin-bottom, 15px, 25px);
  }
  &-1xc3v61-indicatorContainer{
    padding: 0 !important;
  }
  &-qbdosj-Input{
    margin: 0 !important;
    padding: 0 !important;
  }
  &-1jqq78o-placeholder{
    margin: 0 !important;
    font-family: "SF Pro Display";
    color: #3a3b41 !important;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 16px;
    background-color: rgba(0, 0, 0, 0);
    transition: color .38s ease-in-out, border .38s ease-in-out !important;
  }
  &-1dimb5e-singleValue{
    font-family: "SF Pro Display";
    color: #fff !important;
    font-size: 16px;
    transition: 0.38s ease-in-out !important;
  }
  &-1hb7zxy-IndicatorsContainer{
    display: none !important;
  }
  &-t3ipsp-control{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #3A3B41 !important;
    border-radius: 0px !important;
    min-height: auto !important;
    box-shadow: none !important;
    @include fluid(padding-bottom, 8px, 10px);
    @include fluid(margin-bottom, 15px, 25px);

  }
  &-b62m3t-container{
    &:hover{
      .css-1jqq78o-placeholder{
        color: #fff !important;
      }
      .css-13cymwt-control{
        transition: 0.38s ease-in-out !important;
        border-bottom: 1px solid #fff !important;
      }
    }
  }
  &-1nmdiq5-menu{
    margin: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
  &-1n6sfyn-MenuList{
    background: #2b2e36 !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  &-d7l1ni-option{
    background: transparent !important;
    @include  fluid(font-size, 14px, 16px);
    font-family: "SF Pro Display";
    color: #fff !important;
    padding: 0 !important;
    cursor: pointer !important;
    transition: 0.38s ease-in-out !important;
    &:not(:last-child){
      margin-bottom: 20px !important;
    }
    &:hover{
      color: #ec4015 !important;
    }
  }
  &-tr4s17-option{
    background: transparent !important;
    @include  fluid(font-size, 14px, 16px);
    font-family: "SF Pro Display";
    color: #fff !important;
    padding: 0 !important;
    &:not(:last-child){
      margin-bottom: 20px !important;
    }
  }
}

@media (max-width: 1550px) {
  .vacancyForm{
    &__item{
      width: 35%;
    }
  }
}
@media (max-width: 992px) {
  .vacancyPreview{
    color: #FFF;
    span{
      color: #EC4015;
    }
  }
  .vacancyForm{
    margin-bottom: 10px;
    &__item{
      width: 50%;
      p{
        color:#FFFFFF;
      }
      .inputForm{
        border-color: #FFFFFF;
        &::placeholder{
          color: #FFF;
        }
      }
      .slct{
        border-color: #FFFFFF;
      }
    }
  }
  }
  @media (max-width: 576px) {
    .vacancyForm{
      flex-direction: column;
      align-items: center;
      &__item{
        width: 100%;
      }
    }
    .send{
      flex-direction: column-reverse;
    }
  }