@import '_mixins';
@import '_fonts';
@import '_pizza';
@import '_rolls';
@import '_discounts';
@import '_delivery';
@import '_vacancy';
@import '_contact';
@import '_profile';
@import '_ordering';
@import '_modals';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
ul,
ol {
  padding: 0;
}
body,
html {
  overflow-x: hidden;
}
body {
  &.no-scroll {
    overflow-y: hidden;
  }
  position: relative;
}
a {
  text-decoration: none;
}
.overflow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: transparent;
  z-index: -1;
  transition: all 0.38s ease-in-out;
  &--unactive {
    opacity: 1;
    z-index: 10;
  }
}
input[type=date]{
  position: relative;
  &::-webkit-calendar-picker-indicator{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
  }
}
.hiddenMenu {
  @include fontProReg(#8b8e9e);
  font-size: 20px;
  display: none;
  a {
    transition: color 0.38s ease-in-out;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
}

.list {
  @include fluid(padding-left, 5px, 60px);
  @include fluid(padding-right, 5px, 76px);
  @include fluid(gap, 15px, 60px);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  position: relative;
  align-items: center;
  list-style: none;
  border-right: 1px solid #40424a;
  .userBasket {
    display: none;
  }
  &__menu {
    display: none;
  }
  &__item {
    text-decoration: none;
    position: relative;
    transition: all 0.38s ease-in-out;
    &-link {
      @include fontProReg(#8b8e9e);
      @include fluid(font-size, 14px, 18px);
      line-height: 22px;
      white-space: nowrap;
      position: relative;
      transition: all 0.38s ease-in-out;
      &::before {
        // @include fluid(top, -50px, -50px);
        top: -50px;
        content: '';
        position: absolute;
        // top: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #40424a;
        opacity: 0;
        transition: opacity 0.38s ease-in-out;
      }
      &:hover {
        color: #ffffff;
        &:not(.list__item-link--active) {
          &::before {
            opacity: 1;
          }
        }
      }
      &--active {
        color: #ffffff;
      }
    }
  }
  &__hidden {
    display: none;
  }
}

.header {
  @include fluid(padding-top, 15px, 20px);
  @include fluid(padding-bottom, 15px, 20px);
  @include fluid(padding-right, 15px, 20px);
  @include fluid(padding-left, 20px, 40px);
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #26282e;
  width: 100%;

  &__burger {
    display: none;
  }
  .info {
    @include fluid(padding-left, 5px, 30px);
    @include fluid(padding-right, 5px, 30px);
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-right: 1px solid #40424a;

    &__number {
      @include fluid(gap, 10px, 15px);
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      text-decoration: none;
      line-height: 24px;
      white-space: nowrap;
      &:hover {
        .icon-phone {
          color: #ffffff;
        }
      }
      &:last-child {
        justify-content: end;
      }
      &-link {
        @include fontProBold(#ffffff);
        @include fluid(font-size, 15px, 21px);
      }
      .icon-phone {
        @include fluid(font-size, 18px, 24px);
        color: #8b8e9e;
        transition: color 0.38s ease-in-out;
      }
    }
    &__time {
      @include fontProReg(#8b8e9e);
      @include fluid(font-size, 13px, 14px);
      text-align: end;
    }
  }

  .social {
    @include fluid(padding-left, 5px, 30px);
    @include fluid(padding-right, 5px, 30px);
    @include fluid(gap, 20px, 40px);
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    border-right: 1px solid #40424a;
    position: relative;
    a {
      text-decoration: none;
    }
    .icon-tg,
    .icon-ok,
    .icon-vk {
      font-size: 16px;
      color: #8b8e9e;
      transition: color 0.38s ease-in-out;
      &:hover {
        color: #ffffff;
      }
    }
  }
}
.user {
  @include fluid(padding-left, 5px, 30px);
  @include fluid(padding-right, 5px, 30px);
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  cursor: pointer;
  border-right: 1px solid #40424a;
  a {
    text-decoration: none;
  }
  .icon-user {
    font-size: 24px;
    color: #8b8e9e;
    transition: color 0.38s ease-in-out;
    &:hover {
      color: #ffffff;
    }
  }
}

.basket {
  @include fluid(padding-left, 5px, 30px);
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  cursor: pointer;
  a {
    text-decoration: none;
  }
  .icon-basket {
    font-size: 24px;
    color: #8b8e9e;
    transition: color 0.38s ease-in-out;
    &:hover {
      color: #ffffff;
    }
  }
  &__digital {
    @include fluid(font-size, 13px, 14px);
    @include fontProBold(#ffffff);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    position: absolute;
    p {
      position: relative;
      z-index: 2;
    }
    &:after {
      content: '';
      text-align: center;
      background-color: #ec4015;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 22px;
      height: 22px;
      z-index: 0;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.logo {
  @include fluid(padding-right, 10px, 137px);
  @include fluid(padding-bottom, 14px, 0px);
  @include fluid(padding-top, 14px, 0px);
  position: relative;
  border-right: 1px solid #40424a;
  img {
    @include fluid(width, 120px, 206px);
    @include fluid(height, 35px, 60px);
  }
}

.main {
  display: flex;
}
.menu {
  @include fluid(padding-top, 15px, 30px);
  @include fluid(padding-left, 20px, 40px);
  @include fluid(padding-right, 20px, 40px);
  @include fluid(padding-bottom, 57px, 90px);
  @include fontProReg(#ffffff);
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #313338;
  height: auto;
  &__item {
    @include fluid(gap, 15px, 20px);
    @include fluid(padding-bottom, 10px, 15px);
    &:not(&:first-child) {
      @include fluid(padding-top, 10px, 15px);
    }
    &:first-child {
      display: none;
    }
    display: flex;
    position: relative;
    border-bottom: 1px solid #40424a;
    cursor: pointer;
    &::before {
      @include fluid(left, -32px, -48px);
      @include fluid(top, 17px, 35px);
      content: '';
      position: absolute;
      // left: 0;
      opacity: 0;
      // transform: translateX(-50%);
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #40424a;
      transition: opacity 0.38s ease-in-out;
    }
    &:not(.menu__item--active) {
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
    &--active {
      &::before {
        @include fluid(left, -23px, -40px);
        @include fluid(top, 17px, 35px);
        content: '';
        position: absolute;
        top: 0;
        opacity: 1;
        transform: translateX(-50%);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #ec4015;
      }
    }
    img {
      @include fluid(width, 40px, 64px);
      @include fluid(height, 40px, 64px);
    }
    &-linkMenu {
      @include fontProReg(#ffffff);
      @include fluid(font-size, 18px, 20px);
      display: flex;
      gap: 20px;
    }
    &-link {
      @include fontProReg(#ffffff);
      @include fluid(font-size, 14px, 18px);
      white-space: nowrap;
      position: relative;
      margin: auto 0;
      transition: all 0.38s ease-in-out;
    }
  }
  &__itemLink {
    @include fluid(gap, 5px, 10px);
    display: flex;
    p {
      &:not(&:first-child) {
        @include fluid(padding-left, 5px, 10px);
        border-left: 1px solid rgba(64, 66, 74, 1);
        &::before {
          opacity: 0;
        }
      }
    }
  }
}
.category {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.swiperMain {
  @include fluid(height, 603px, 803px);
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  img {
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__slide {
    &-block {
      @include fluid(margin-top, 140px, 219px);
      // @include fluid(margin-bottom, 180px, 219px);
      @include fluid(margin-left, 90px, 120px);
      max-width: 526px;
    }
    &-info {
      @include fluid(padding-bottom, 20px, 30px);
      @include fontUiLight(#ffffff);
      @include fluid(font-size, 42px, 64px);
      border-bottom: 1px solid #8b8e9e;
      &--orange {
        @include fontUiBlack(#ec4015);
        @include fluid(font-size, 42px, 64px);
      }
    }
    &-text {
      @include fontUiLight(#ffffff);
      @include fluid(font-size, 20px, 24px);
      @include fluid(margin-top, 20px, 30px);
      @include fluid(margin-bottom, 50px, 70px);
    }
    &-button {
      @include fontProSemiBold(#ffffff);
      @include fluid(padding-bottom, 15px, 24px);
      @include fluid(width, 170px, 192px);
      @include fluid(font-size, 16px, 18px);
      @include fluid(padding-top, 15px, 24px);
      @include fluid(padding-left, 40px, 48px);
      @include fluid(padding-right, 40px, 48px);
      background-color: #ec4015;
      display: block;
      transition:
        color 0.38s ease-in-out,
        background-color 0.38s ease-in-out;
      cursor: pointer;
      border-radius: 10px;
      &:hover {
        color: #ec4015;
        background-color: #ffffff;
      }
    }
  }
  // .pagination__container{
  //   position: absolute;
  //   display: flex;
  //   flex-direction: column;
  //   right: 5%;
  //   gap: 15px;
  //   top: 31%;
  //   .textSlide{
  //     @include fontProReg(#8B8E9E);
  //     transition: z-index .38s ease-in-out;
  //     text-align: end;
  //     max-width: 200px;
  //     z-index: 1;
  //     // &--active{
  //     //   z-index: 1;
  //     // }
  //   }
  // }
  .swiper-pagination {
    margin-right: 34px;
    z-index: 8;
  }
  .swiper-pagination-bullet {
    position: relative;
    opacity: unset;
    width: 12px;
    height: 12px;
    background: #444653;
    &:not(&:first-child) {
      @include fluid(margin-top, 30px, 40px);
      &::before {
        @include fluid(height, 30px, 40px);
        @include fluid(top, -30px, -40px);
        content: '';
        position: absolute;
        top: -31px;
        left: 5.3px;
        width: 1px;
        height: 8px;
        background-color: #444653;
      }
    }
    &-active {
      background: #ec4015;
    }
    &:not(.swiper-pagination-bullet-active) {
      &:hover {
        transition: all 0.38s ease-in-out;
        background: #8b8e9e;
        // .pagination__container p{
        //   // z-index: 1;
        //   color: rebeccapurple
        // }
      }
    }
  }
}
.footer {
  @include fluid(padding-top, 15px, 30px);
  @include fluid(padding-left, 15px, 30px);
  @include fluid(padding-right, 15px, 30px);
  @include fluid(padding-bottom, 15px, 30px);
  height: auto;
  z-index: 2;
  background-color: #26282e;
  display: flex;
  &__itemMenu {
    display: none;
  }
  &__item {
    &:last-child {
      margin-left: auto;
    }
    &:not(&:first-child) {
      display: flex;
      flex-direction: column;
      // justify-content:right;
    }
    &-grid {
      display: grid;
      grid-template-columns: 0.3fr 1fr;
      &:first-child {
        @include fluid(padding-bottom, 15px, 28px);
        @include fluid(margin-bottom, 15px, 30px);
        border-bottom: 1px solid #444653;
      }
      img {
        @include fluid(width, 120px, 134px);
        @include fluid(height, 35px, 40px);
      }
    }
    &-gridTop {
      @include fluid(column-gap, 100px, 120px);
      @include fluid(margin-right, 80px, 100px);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    &-info {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include fluid(column-gap, 100px, 120px);
    }
    &-infoList {
      @include fluid(gap, 8px, 10px);
      display: flex;
      flex-direction: column;
      white-space: nowrap;
    }
    &-listText {
      @include fontProReg(#8b8e9e);
      @include fluid(font-size, 13px, 14px);
      list-style: none;
      transition: color 0.38s ease-in-out;
      &:hover {
        color: #ffffff;
      }
    }
    .info {
      @include fluid(margin-bottom, 40px, 60px);
      display: flex;
      flex-direction: column;
      text-align: end;
      align-items: end;
      &__number {
        @include fluid(gap, 10px, 15px);
        margin-bottom: 5px;
        display: flex;
        text-decoration: none;
        align-items: center;
        line-height: 24px;
        &:hover {
          .icon-phone {
            color: #ffffff;
          }
        }
        &:last-child {
          justify-content: end;
        }
        &-link {
          @include fontProBold(#ffffff);
          @include fluid(font-size, 18px, 21px);
          white-space: nowrap;
        }
        .icon-phone {
          @include fluid(font-size, 18px, 24px);
          color: #8b8e9e;
          transition: color 0.38s ease-in-out;
        }
      }
      &__time {
        @include fontProReg(#8b8e9e);
        @include fluid(font-size, 13px, 14px);
      }
    }
    .social {
      @include fluid(gap, 20px, 40px);
      @include fluid(margin-bottom, 40px, 56px);
      justify-content: end;
      display: flex;
      a {
        text-decoration: none;
      }
      .icon-tg,
      .icon-ok,
      .icon-vk {
        font-size: 16px;
        color: #8b8e9e;
        transition: color 0.38s ease-in-out;
        &:hover {
          color: #ffffff;
        }
      }
    }
    &-bottomEdgeTxt {
      @include fontProReg(#8b8e9e);
      @include fluid(font-size, 13px, 14px);
    }
    &-bottomEdge {
      @include fontProReg(#8b8e9e);
      @include fluid(font-size, 13px, 14px);
      @include fluid(gap, 10px, 20px);
      display: flex;
      transition: color 0.38s ease-in-out;
      cursor: pointer;
      justify-content: end;
      align-items: center;
      img {
        width: 53px;
        height: 42px;
      }
      &:hover {
        color: #ec4015;
      }
    }
    &-bottomText {
      @include fluid(gap, 60px, 80px);
      @include fluid(font-size, 13px, 14px);
      list-style: none;
      display: flex;
      a {
        @include fontProReg(#444653);
        @include fluid(font-size, 13px, 14px);
        transition: color 0.38s ease-in-out;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

@import '_styleMedia';
@import '_discountsMedia';
@import '_pizzaMedia';
@import '_rollsMedia';
@import '_deliveryMedia';
@import '_vacancyMedia';
@import '_contactMedia';
@import '_profileMedia';
@import '_orderingMedia';
