@import "_mixins";
// @import "_fonts";
// @import "_pizza";
// @import "_rolls";
// @import "_discounts";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
ul,
ol {
  padding: 0;
}
body {
  &.no-scroll {
    overflow-y: hidden;
  }
}
.header {
  @include fluid(padding-top, 15px, 20px);
  @include fluid(padding-bottom, 15px, 20px);
  @include fluid(padding-right, 15px, 20px);
  @include fluid(padding-left, 20px, 40px);
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #26282e;
  width: 100%;

  .hiddenMenu {
    @include fontProReg(#8b8e9e);
    font-size: 20px;
    display: none;
    a {
      transition: color 0.38s ease-in-out;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
  }
  .logo {
    @include fluid(padding-right, 10px, 137px);
    @include fluid(padding-bottom, 14px, 0px);
    @include fluid(padding-top, 14px, 0px);
    position: relative;
    border-right: 1px solid #40424a;
    img {
      @include fluid(width, 120px, 206px);
      @include fluid(height, 35px, 60px);
    }
  }

  .list {
    @include fluid(padding-left, 5px, 60px);
    @include fluid(padding-right, 5px, 76px);
    @include fluid(gap, 15px, 60px);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    position: relative;
    align-items: center;
    list-style: none;
    border-right: 1px solid #40424a;
    .userBasket {
      display: none;
    }
    &__menu {
      display: none;
    }
    &__item {
      &-link {
        @include fontProReg(#8b8e9e);
        @include fluid(font-size, 14px, 18px);
        line-height: 22px;
        white-space: nowrap;
        position: relative;
        transition: all 0.38s ease-in-out;

        &::before {
          @include fluid(top, -40px, -50px);
          content: "";
          position: absolute;
          // top: -50px;
          left: 50%;
          transform: translateX(-50%);
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #40424a;
          opacity: 0;
          transition: opacity 0.38s ease-in-out;
        }

        &:hover {
          color: #ffffff;
          &::before {
            opacity: 1;
          }
        }
        &--active {
          color: #ffffff;
        }
      }
    }
    &__hidden {
      display: none;
    }
  }

  &__burger {
    display: none;
  }
  .info {
    @include fluid(padding-left, 5px, 30px);
    @include fluid(padding-right, 5px, 30px);
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-right: 1px solid #40424a;

    &__number {
      @include fluid(gap, 10px, 15px);
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      line-height: 24px;
      white-space: nowrap;
      &:hover {
        .icon-phone {
          color: #ffffff;
        }
      }
      &:last-child {
        justify-content: end;
      }
      &-link {
        @include fontProBold(#ffffff);
        @include fluid(font-size, 15px, 21px);
      }
      .icon-phone {
        @include fluid(font-size, 18px, 24px);
        color: #8b8e9e;
        transition: color 0.38s ease-in-out;
      }
    }
    &__time {
      @include fontProReg(#8b8e9e);
      @include fluid(font-size, 13px, 14px);
      text-align: end;
    }
  }

  .social {
    @include fluid(padding-left, 5px, 30px);
    @include fluid(padding-right, 5px, 30px);
    @include fluid(gap, 20px, 40px);
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    border-right: 1px solid #40424a;
    position: relative;
    a {
      text-decoration: none;
    }
    .icon-tg,
    .icon-ok,
    .icon-vk {
      font-size: 16px;
      color: #8b8e9e;
      transition: color 0.38s ease-in-out;
      &:hover {
        color: #ffffff;
      }
    }
  }

  .user {
    @include fluid(padding-left, 5px, 30px);
    @include fluid(padding-right, 5px, 30px);
    padding-top: 18px;
    padding-bottom: 18px;
    position: relative;
    border-right: 1px solid #40424a;
    a {
      text-decoration: none;
    }
    .icon-user {
      font-size: 24px;
      color: #8b8e9e;
      transition: color 0.38s ease-in-out;
      &:hover {
        color: #ffffff;
      }
    }
  }

  .basket {
    @include fluid(padding-left, 5px, 30px);
    padding-top: 18px;
    padding-bottom: 18px;
    position: relative;
    a {
      text-decoration: none;
    }
    .icon-basket {
      font-size: 24px;
      color: #8b8e9e;
      transition: color 0.38s ease-in-out;
      &:hover {
        color: #ffffff;
      }
    }
    &__digital {
      @include fluid(font-size, 13px, 14px);
      @include fontProBold(#ffffff);
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      position: absolute;
      p {
        position: relative;
        z-index: 2;
      }
      &:after {
        content: "";
        text-align: center;
        background-color: #ec4015;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 22px;
        height: 22px;
        z-index: 0;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.main {
  display: flex;
  .menu {
    @include fluid(padding-top, 15px, 30px);
    @include fluid(padding-left, 20px, 40px);
    @include fluid(padding-right, 20px, 40px);
    @include fluid(padding-bottom, 57px, 90px);
    @include fontProReg(#ffffff);
    // @include fluid(width, 250px, 420px);
    width: 20%;
    display: flex;
    // width: 22%;
    flex-direction: column;
    background-color: #313338;
    height: auto;
    &__item {
      @include fluid(gap, 15px, 20px);
      @include fluid(padding-bottom, 10px, 15px);
      &:not(&:first-child) {
        @include fluid(padding-top, 10px, 15px);
      }
      &:first-child {
        display: none;
      }
      display: flex;
      border-bottom: 1px solid #40424a;
      img {
        @include fluid(width, 40px, 64px);
        @include fluid(height, 40px, 64px);
      }
      &-linkMenu {
        @include fontProReg(#ffffff);
        @include fluid(font-size, 18px, 20px);
        display: flex;
        gap: 20px;
      }
      &-link {
        @include fontProReg(#ffffff);
        @include fluid(font-size, 14px, 18px);
        white-space: nowrap;
        position: relative;
        margin: auto 0;
        transition: all 0.38s ease-in-out;
        &::before {
          @include fluid(left, -85px, -120px);
          content: "";
          position: absolute;
          // left: -120px;
          top: 0;
          opacity: 0;
          transform: translateX(-50%);
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #40424a;
          transition: opacity 0.38s ease-in-out;
        }
        &:hover {
          &::before {
            opacity: 1;
          }
        }
        &--active {
          &::before {
            content: "";
            position: absolute;
            left: -120px;
            top: 0;
            opacity: 1;
            transform: translateX(-50%);
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #ec4015;
          }
        }
      }
    }
  }
  .image {
    // @include fluid(width, 742px, 1500px);
    width: 80%;
    display: flex;
    flex-direction: column;
    .swiperMain {
      @include fluid(height, 603px, 803px);
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: stretch;
      position: relative;
      img {
        position: absolute;
        z-index: -2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &__slide {
        &-block {
          @include fluid(margin-top, 140px, 219px);
          // @include fluid(margin-bottom, 180px, 219px);
          @include fluid(margin-left, 90px, 120px);
          max-width: 526px;
        }
        &-info {
          @include fluid(padding-bottom, 20px, 30px);
          border-bottom: 1px solid #8b8e9e;
        }
        &-title {
          @include fontUiLight(#ffffff);
          @include fluid(font-size, 42px, 64px);
        }
        &-titleBig {
          @include fontUiBlack(#ec4015);
          @include fluid(font-size, 42px, 64px);
        }
        &-text {
          @include fontUiLight(#ffffff);
          @include fluid(font-size, 20px, 24px);
          @include fluid(margin-top, 20px, 30px);
          @include fluid(margin-bottom, 50px, 70px);
        }
        &-button {
          @include fontProSemiBold(#ffffff);
          @include fluid(font-size, 16px, 18px);
          @include fluid(padding-bottom, 15px, 24px);
          @include fluid(padding-top, 15px, 24px);
          @include fluid(padding-left, 40px, 48px);
          @include fluid(padding-right, 40px, 48px);
          background-color: #ec4015;
          border: #ec4015;
          cursor: pointer;
          border-radius: 10px;
        }
      }
      .swiper-pagination {
        margin-right: 34px;
      }
      .swiper-pagination-bullet {
        @include fluid(margin-top, 30px, 40px);
        position: relative;
        opacity: unset;
        width: 12px;
        height: 12px;
        background: #444653;
        &-active {
          background: #ec4015;
        }
        &:not(.swiper-pagination-bullet-active) {
          &:hover {
            transition: all 0.38s ease-in-out;
            background: #8b8e9e;
          }
        }
        // &:after {
        //   content: "";
        //   position: absolute;
        //   top: 0;
        //   bottom: 0;
        //   left: 50%;
        //   transform: translateX(-50%);
        //   width: 1px;
        //   background-color: #ccc;
        // }
      }
    }
    .footer {
      @include fluid(padding-top, 15px, 30px);
      @include fluid(padding-left, 15px, 30px);
      @include fluid(padding-right, 15px, 30px);
      @include fluid(padding-bottom, 15px, 30px);
      height: auto;
      background-color: #26282e;
      display: flex;
      &__itemMenu {
        display: none;
      }
      &__item {
        &:last-child {
          margin-left: auto;
        }
        &:not(&:first-child) {
          display: flex;
          flex-direction: column;
          // justify-content:right;
        }
        &-grid {
          display: grid;
          grid-template-columns: 0.3fr 1fr;
          &:first-child {
            @include fluid(padding-bottom, 15px, 28px);
            @include fluid(margin-bottom, 15px, 30px);
            border-bottom: 1px solid #444653;
          }
          img {
            @include fluid(width, 120px, 134px);
            @include fluid(height, 35px, 40px);
          }
        }
        &-gridTop {
          @include fluid(column-gap, 100px, 120px);
          @include fluid(margin-right, 80px, 100px);
          display: grid;
          grid-template-columns: repeat(4, 1fr);
        }
        &-info {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          @include fluid(column-gap, 100px, 120px);
        }
        &-infoList {
          @include fluid(gap, 8px, 10px);
          display: flex;
          flex-direction: column;
          white-space: nowrap;
        }
        &-listText {
          @include fontProReg(#8b8e9e);
          @include fluid(font-size, 13px, 14px);
          list-style: none;
          transition: color 0.38s ease-in-out;
          &:hover {
            color: #ffffff;
          }
        }
        .info {
          @include fluid(margin-bottom, 40px, 60px);
          display: flex;
          flex-direction: column;
          text-align: end;
          align-items: end;
          &__number {
            @include fluid(gap, 10px, 15px);
            display: flex;
            line-height: 24px;
            &:hover {
              .icon-phone {
                color: #ffffff;
              }
            }
            &:last-child {
              justify-content: end;
            }
            &-link {
              @include fontProBold(#ffffff);
              @include fluid(font-size, 18px, 21px);
              margin-bottom: 5px;
              white-space: nowrap;
            }
            .icon-phone {
              @include fluid(font-size, 18px, 24px);
              color: #8b8e9e;
              transition: color 0.38s ease-in-out;
            }
          }
          &__time {
            @include fontProReg(#8b8e9e);
            @include fluid(font-size, 13px, 14px);
          }
        }
        .social {
          @include fluid(gap, 20px, 40px);
          @include fluid(margin-bottom, 40px, 56px);
          justify-content: end;
          display: flex;
          a {
            text-decoration: none;
          }
          .icon-tg,
          .icon-ok,
          .icon-vk {
            font-size: 16px;
            color: #8b8e9e;
            transition: color 0.38s ease-in-out;
            &:hover {
              color: #ffffff;
            }
          }
        }
        &-bottomEdgeTxt {
          @include fontProReg(#8b8e9e);
          @include fluid(font-size, 13px, 14px);
        }
        &-bottomEdge {
          @include fontProReg(#8b8e9e);
          @include fluid(font-size, 13px, 14px);
          @include fluid(gap, 10px, 20px);
          display: flex;
          justify-content: end;
          align-items: center;
          img {
            width: 53px;
            height: 42px;
          }
        }
        &-bottomText {
          @include fluid(gap, 60px, 80px);
          @include fluid(font-size, 13px, 14px);
          list-style: none;
          display: flex;
          a {
            @include fontProReg(#444653);
            @include fluid(font-size, 13px, 14px);
            transition: color 0.38s ease-in-out;
            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
@import "_indexMedia";
@import "_discountsMedia";
@import "_pizzaMedia";
@import "_rollsMedia";
