.cards {
    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include fluid(gap, 70px, 100px);
    }

    &__left,
    &__right {
        overflow: hidden;
        position: relative;
        height: 100%;
        border-radius: 20px;
        border: 1px solid #D9D9D9;
        @include fluid(padding, 25px, 40px);
        &--diox{
            h2{
                margin-bottom: 10px;
            }
            p{
                margin-bottom: 25px;
            }
        }
    }   

    &__title {
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        text-transform: uppercase;
        @include fluid(font-size, 22px, 30px);
        @include fluid(margin-bottom, 15px, 25px);
    }
    img{
        position: absolute;
        left: 0;
        bottom: 0;
        object-fit: cover;
    }
    &__text {
        color: #535353;
        font-family: "Montserrat";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        @include fluid(font-size, 14px, 18px);
        margin-bottom: 15px;
        span{
            font-weight: 700;
        }
    }
}

@media (max-width: 768px){
    .cards{
        &__box{
            grid-template-columns: 1fr;
            gap: 20px;

        }
        &__left{
            padding-bottom: 90px;
            &--diox{
                padding-bottom: 20px;
            }
        }
        &__right{
            &--diox{
                padding-bottom: 80px;
            }
        }
        &__title{
            font-size: 17px;
        }
    }
}
