@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icon/icomoon.eot');
  src:  url('../fonts/icon/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icon/icomoon.ttf') format('truetype'),
    url('../fonts/icon/icomoon.woff') format('woff'),
    url('../fonts/icon/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Time:before {
  content: "\e900";
}
.icon-Instagram:before {
  content: "\e901";
}
.icon-Mail:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-Placeholder:before {
  content: "\e904";
}
.icon-Cross:before {
  content: "\e906";
}
.icon-Eye:before {
  content: "\e907";
}
.icon-Search:before {
  content: "\e908";
}
.icon-cart:before {
  content: "\e909";
}
.icon-User:before {
  content: "\e90a";
}
.icon-arrow:before {
  content: "\e90b";
}

