.article {
    &__box {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        @include fluid(gap, 10px, 40px);
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-between;
        @include fluid(gap, 30px, 98px);
    }

    &__title {
        color: #000;
        font-size: 49px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%;
        text-transform: uppercase;
        @include fluid(font-size, 30px, 49px);

        &--fs40 {
            color: #000;
            font-size: 40px;
            font-weight: 800;
            line-height: 130%;
            text-transform: uppercase;
            @include fluid(font-size, 27px, 40px);
        }
    }

    &__content {
        width: 83%;

        &-text {
            color: #535353;
            font-family: "Montserrat";
            font-size: 18px;
            font-weight: 400;
            line-height: 130%;
            @include fluid(font-size, 14px, 18px);
            margin-bottom: 10px;

            &--mb20 {
                @include fluid(margin-bottom, 15px, 20px);
            }
        }
    }

    &__right {
        height: 100%;
        border-radius: 30px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.swimming {
    &--green {
        .swimming {
            &__title {
                color: #71C21B;
                font-size: 75px;
                font-style: normal;
                font-weight: 900;
                line-height: 100%;
                /* 75px */
                @include fluid(font-size, 50px, 75px);
            }

            &__box {
                margin-bottom: 30px;
            }
        }

        .bird {
            &__box {
                border: 1px solid #535353;
                border-radius: 30px;

                img {
                    height: 100%;
                }

                &-right {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    @include fluid(padding-left, 30px, 40px);

                    justify-content: center
                }
            }
        }
    }

    &--orange {
        .swimming {
            &__title {
                color: #FF840D
            }
        }
    }

    &--lightGreen {
        .water {
            &__box{
                margin-bottom: 30px;
                p{
                    width: 100% !important;
                }
            }
            &__title {
                color: #71C21B;
                font-size: 75px;
                font-style: normal;
                font-weight: 900;
                line-height: 100%;
                /* 75px */
                text-transform: uppercase;
                @include fluid(font-size, 35px, 75px);
            }
        }

        .swimming {
            &__title {
                color: #FF840D
            }
        }
    }
    &--lightBlue{
        .water{
            &__title{
                color: #35507B;
            }
        }
    }

    &--blue {
        .swimming {
            &__title {
                color: #549DE5
            }
        }
    }

    &--prod {
        .swimming {
            &__left {
                @include fluid(height, 300px, 350px);

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &--bordernone {
        .swimming {
            &__bottom {
                border-bottom: none;
            }
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        @include fluid(gap, 20px, 40px);
    }

    &__left {
        img {
            border-radius: 30px;
            object-fit: cover;
            width: 100%;
        }
    }

    &__bot {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include fluid(gap, 70px, 100px);
        @include fluid(margin-top, 30px, 50px);
        @include fluid(margin-bottom, 30px, 75px);

        &-right {
            display: flex;
            flex-direction: column;
        }

        &-title {
            color: #000;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            /* 30px */
            text-transform: uppercase;
            @include fluid(font-size, 22px, 30px);
            @include fluid(margin-top, 40px, 50px);
        }
    }

    &__textBold {
        margin-top: auto;
        color: #000;
        font-family: "Montserrat";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        text-transform: uppercase;
        @include fluid(font-size, 14px, 18px);
    }

    &__half {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include fluid(margin-top, 20px, 40px);

        &-top {
            display: flex;
            width: 45%;
            flex-direction: column;
            align-items: end;
            margin-left: auto;

            p {
                color: #535353;
                font-family: "Montserrat";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                @include fluid(font-size, 14px, 18px);
            }
        }

        &-bottom {
            display: flex;
            width: 45%;
            flex-direction: column;
            align-items: end;
            margin-right: auto;

            p {
                color: #535353;
                font-family: "Montserrat";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                @include fluid(font-size, 14px, 18px);
                margin-bottom: 10px;
            }
        }
    }

    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include fluid(gap, 70px, 100px);
    }

    &__bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include fluid(gap, 70px, 100px);
        border-bottom: 1px solid #535353;
    }

    &__center {
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        @include fluid(height, 275px, 502px);

        &--two {
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

            div {
                border-radius: 30px;
                overflow: hidden;

                &:first-child {
                    grid-column: 1/4;
                }

                &:last-child {
                    grid-column: 4/6;
                }
            }

            img {
                object-fit: cover;
                border-radius: 30px;




            }
        }

        &--w437 {
            height: 437px;
            @include fluid(height, 265px, 437px);
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 30px;
        }

        svg {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 266.424px;
            height: 126.297px;
            width: 146px;
            height: 68.918px;
            @include fluid(width, 146px, 266px);
            @include fluid(height, 69px, 126px);
        }
    }

    &__title {
        color: #000;
        font-size: 40px;
        font-weight: 800;
        line-height: 100%;
        text-transform: uppercase;
        @include fluid(font-size, 27px, 40px);
    }

    &__subtitle {
        color: #000;
        font-size: 30px;
        font-weight: 700;
        line-height: 100%;
        text-transform: uppercase;
        @include fluid(font-size, 20px, 30px);
        @include fluid(margin-bottom, 15px, 20px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &--mb {
            @include fluid(margin-bottom, 30px, 40px);
        }

        &-title {
            color: #000;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            text-transform: uppercase;
            @include fluid(font-size, 22px, 30px);
            @include fluid(margin-bottom, 15px, 30px);
        }

        &-text {
            color: #535353;
            font-family: "Montserrat";
            font-size: 18px;
            font-weight: 400;
            line-height: 130%;
            @include fluid(font-size, 14px, 18px);
        }
    }
}

.grid {
    display: grid;
    gap: 20px;

    img {
        object-fit: cover;
        border-radius: 30px;
        width: 100%;
        @include fluid(height, 180px, 330px)
    }

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    &--reverse {
        img {
            &:nth-child(1) {
                grid-column: 1/3 !important;

            }

            &:nth-child(2) {
                grid-column: 3/6 !important;

            }

            &:nth-child(3) {
                grid-column: 1/4 !important;
            }

            &:nth-child(4) {

                grid-column: 4/6 !important;
            }
        }
    }

    img {
        &:nth-child(1) {
            grid-column: 1/4;
        }

        &:nth-child(2) {
            grid-column: 4/6;
        }

        &:nth-child(3) {
            grid-column: 1/3;
        }

        &:nth-child(4) {
            grid-column: 3/6;
        }
    }
}

.blue {
    &__box {
        background-color: #549DE5;
        border-radius: 30px;
        @include fluid(padding, 25px, 40px);
    }

    &__text {
        color: var(--white, #FFF);
        font-family: "Montserrat";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include fluid(font-size, 14px, 18px);
        @include fluid(margin-bottom, 10px, 10px);
    }

    &__link {
        display: block;
        color: var(--white, #FFF);
        font-family: "Montserrat";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include fluid(font-size, 14px, 18px);
        @include fluid(margin-bottom, 10px, 10px);
    }

    &__table {
        background-color: #549DE5;
        border-radius: 30px;
        @include fluid(padding, 10px, 14px);
        display: grid;
        grid-template-columns: 1fr 1.2fr 0.9fr 0.9fr 1.5fr;

        &--detail {
            grid-template-columns: 0.7fr 1fr 1fr;
            margin-top: auto;

            .blue {
                &__table {

                    &-headItem {
                        border-right: 1px solid rgba(255, 255, 255, 0.40) !important;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.40) !important;
                    }

                    &-item {
                        border-right: 1px solid rgba(255, 255, 255, 0.40) !important;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.40) !important;

                        p {}

                        span {
                            text-align: start;
                            display: block;
                        }

                        &:nth-child(3n) {
                            justify-content: flex-start;

                            p {
                                text-align: start;
                            }
                        }
                    }
                }
            }
        }

        &--desinfection {
            .blue {
                &__table {
                    &-headItem {
                        border-right: 1px solid rgba(255, 255, 255, 0.40) !important;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.40) !important;
                    }

                    &-item {
                        border-right: 1px solid rgba(255, 255, 255, 0.40) !important;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.40) !important;

                        &:nth-child(31) {

                            grid-column: 1/6;

                        }

                        &:nth-child(37) {

                            grid-column: 1/6;

                        }
                    }
                }
            }
        }

        &--waste {
            .blue {
                &__table {
                    &-headItem {
                        border-right: 1px solid rgba(255, 255, 255, 0.40) !important;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.40) !important;
                    }

                    &-item {
                        border-right: 1px solid rgba(255, 255, 255, 0.40) !important;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.40) !important;

                        &:nth-child(10) {
                            grid-row: 2/5;
                            grid-column: 5/6;

                        }
                    }
                }
            }
        }

        &--prod {
            grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 2fr;

            .blue {
                &__table {
                    &-headItem {
                        border-right: 1px solid rgba(255, 255, 255, 0.40) !important;
                    }

                    &-item {
                        border-right: 1px solid rgba(255, 255, 255, 0.40) !important;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.40) !important;

                        &:nth-child(7) {
                            grid-row: 2/7;

                        }

                        &:nth-child(33) {
                            grid-row: 7/10;
                            grid-column: 1/2;

                        }

                        &:nth-child(49) {
                            grid-row: 10/12;
                            grid-column: 1/2;

                        }

                        &:nth-child(60) {
                            grid-row: 12/15;
                            grid-column: 1/2;

                        }

                    }
                }
            }
        }

        &--water {
            grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 2fr;

            .blue {
                &__table {
                    &-headItem {
                        border-right: 1px solid rgba(255, 255, 255, 0.40) !important;
                    }

                    &-item {
                        border-right: 1px solid rgba(255, 255, 255, 0.40) !important;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.40) !important;

                        &:not(:nth-last-child(-n+5)) {}

                        &:not(:nth-child(5n)) {
                            border-right: none;
                        }

                        &:not(:nth-last-child(-n+6)) {
                            border-bottom: 1px solid rgba(255, 255, 255, 0.40);
                        }

                        &:not(:nth-child(6n)) {
                            border-right: 1px solid rgba(255, 255, 255, 0.40);
                        }

                        &:nth-child(7) {
                            grid-row: 2/7;

                        }

                        &:nth-child(12) {
                            grid-row: 2/7;
                            grid-column: 6/7;

                        }

                        &:nth-child(29) {
                            grid-row: 7/11;
                        }
                    }
                }
            }
        }

        &-headItem {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.40);

            &:not(:nth-child(5n)) {
                border-right: 1px solid rgba(255, 255, 255, 0.40);
            }

            p {
                display: block;
                color: #FFF;
                font-family: "Montserrat";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                text-transform: uppercase;
                @include fluid(font-size, 12px, 14px);
            }
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;

            p {
                display: block;
                text-align: center;
                color: #FFF;
                font-family: "Montserrat";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                @include fluid(font-size, 12px, 14px);
            }

            /* 14px */
            &:not(:nth-last-child(-n+5)) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.40);
            }

            &:not(:nth-child(5n)) {
                border-right: 1px solid rgba(255, 255, 255, 0.40);
            }
        }
    }
}

@media (max-width: 992px) {
    .article {
        &--pool {
            .article {
                &__title {
                    width: 100%;
                }

                &__right {
                    margin-top: 0;
                    height: auto;
                }
            }
        }

        &__title {
            width: 200%;
        }

        &__box {
            grid-template-columns: 1fr 0.9fr;
        }

        &__right {
            margin-top: 55px;
            height: auto;
        }
    }

    .swimming {
        &--technology {
            .swimming {
                &__top {
                    gap: 15px;
                    display: flex;
                    flex-direction: column;
                }

                &__title {
                    width: 80%;
                }

                &__content {
                    width: 80%;
                    margin-left: auto;
                }
            }
        }

        &__half {
            div {
                width: 100%;
            }
        }
    }

    .blue {
        &--table {
            overflow-x: scroll;

            .container {
                // overflow-x: scroll;
            }

        }

        &__table {
            width: fit-content;
        }
    }
}

@media(max-width: 768px) {
    .article {
        &__title {
            font-size: 26px;
            width: 100%;
        }

        &__right {
            margin-top: 0;
            height: 300px;
        }

        &__content {
            width: 100%;

            &-text {
                &--mb20 {
                    margin-bottom: 0;
                }
            }
        }

        &__box {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    .swimming {
        &--green {
            .swimming {
                &__title {
                    font-size: 30px;
                }
            }

            .bird__box-right {
                padding-right: 30px;
            }
        }
        &--lightGreen{
            .water{
                &__title{
                    font-size: 30px;
                }
            }
        }
        &--lightBlue{
            .water{
                &__title{
                    font-size: 30px;
                }
            }
        }

        &--prod {
            .swimming {
                &__bottom {
                    display: flex;
                    flex-direction: column-reverse;
                }

                &__left {
                    margin-bottom: 20px;

                    img {}
                }
            }
        }

        &--technology {
            .swimming {
                &__title {
                    width: 100%;
                }

                &__content {
                    width: 100%;
                }
            }
        }

        &__bot {
            grid-template-columns: 1fr;
            gap: 30px;

            &-right {
                gap: 15px;
            }
        }

        &__top {
            grid-template-columns: 1fr;
            gap: 15px;
        }

        &__title {
            font-size: 23px;
        }

        &__bottom {
            grid-template-columns: 1fr;
            gap: 0px;
        }

        &__subtitle {
            margin-bottom: 5px;
        }

        &__left {
            img {
                margin-bottom: 20px;
            }
        }

        &__center {
            &--two {
                div {
                    height: 220px !important;
                }
            }
        }
    }

    .blue {
        &--table {
            overflow-x: scroll;

            .container {
                // overflow-x: scroll;
            }
        }

        &__table {
            width: fit-content;
        }
    }

    .grid {
        margin-top: 20px;
    }

}

@media (max-width: 576px) {
    .swimming {
        &__center {
            &--two {
                grid-template-columns: 1fr;
                display: flex;
                flex-direction: column;

                img {
                    height: 300px;
                }

                ;
            }
        }
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        img {
            height: 160px;

            &:nth-child(1) {
                grid-column: 1/3 !important;
            }

            &:nth-child(2) {
                grid-column: 1/2 !important;
            }

            &:nth-child(3) {
                grid-column: 2/3 !important;
            }

            &:nth-child(4) {
                grid-column: 1/3 !important;
            }
        }
    }
}