.menu {
  display: flex;
  align-items: center;

  &__item {
    @include fluid(padding-left, 10px, 20px);

    &-link {
      @include fluid(font-size, 14px, 16px);
      color: #fff;
      text-transform: uppercase;
      transition: color .38s ease-in-out;

      &:hover,
      &:active {
        color: #d5242c;
      }
    }
  }
}

@media (max-width: 992px) {
  .menu {
    position: absolute;
    top: -20px;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-200%);
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    background-color: #222;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    flex-shrink: unset;
    transition: transform .38s ease-in-out, opacity .38s ease-in-out, visibility .38s ease-in-out, z-index .38s ease-in-out;

    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 3;
      transform: translateX(0%);
      transition: transform .38s ease-in-out, opacity .38s ease-in-out,
        visibility .38s ease-in-out,
        z-index .38s ease-in-out;
      justify-content: unset;
    }

    &__item {
      width: 100%;
      padding: 10px 0px;

      &:not(:last-child) {
        padding-right: 0;

        &::after {
          content: none;
        }
      }


      &-link {
        width: 100%;
        display: block;

        &:hover {
          color: #d5242c;
        }
      }
    }
  }
}