@font-face {
    font-family: 'Nexa-Trial';
    src: url('../assets/fonts/Nexa-Trial-Regular.ttf');
    font-weight: 400;
  }
@font-face {
    font-family: 'Nexa-Trial';
    src: url('../assets/fonts/Nexa-Trial-Black.ttf');
    font-weight: 900;
  }
@font-face {
    font-family: 'Nexa-Trial';
    src: url('../assets/fonts/Nexa-Trial-ExtraBold.ttf');
    font-weight: 800;
  }
@font-face {
    font-family: 'Nexa-Trial';
    src: url('../assets/fonts/Nexa-Trial-Light.ttf');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Medium.ttf');
    font-weight: 500;
  }