.header {
    &--pb72{
        .header{
            &__wrapper{
                @include fluid(padding-bottom, 30px, 72px);
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include fluid(padding-top, 33px, 43px);
        @include fluid(padding-bottom, 33px, 43px);
    }

    &__logo {
        @include fluid(width, 130px, 165px);
        @include fluid(height, 20px, 24px);

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__dropdown {
        border-radius: 10px;
        background: #FFF;
        min-width: 100%;
        width: max-content;
        box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.12);
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 110%;
        opacity: 0;
        transition: 0.38s ease-in-out;
        @include fluid(left, 0px, 0px);
        visibility: hidden;
        &-item {
            @include fluid(padding-top, 8px, 11px);
            @include fluid(padding-bottom, 8px, 11px);
            @include fluid(padding-left, 12px, 15px);
            @include fluid(padding-right, 12px, 15px);
            color: #555;
            font-size: 14px;
            font-weight: 300;
            line-height: 100%;
            transition: 0.38s ease-in-out;
            &:hover{
                color: #549DE5
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        @include fluid(gap, 10px, 15px);

        &-item {
            position: relative;
            cursor: pointer;
            z-index: 1;
            @include fluid(padding-top, 5px, 7px);
            @include fluid(padding-left, 10px, 15px);
            @include fluid(padding-right, 10px, 15px);
            @include fluid(padding-bottom, 5px, 7px);
            color: #555;
            border: 1px solid transparent;
            transition: 0.38s ease-in-out;
            border-radius: 20px;
            @include fluid(font-size, 14px, 15px);
            &:hover{
                border: 1px solid rgba(85, 85, 85, 0.60);
                .header{
                    &__dropdown{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                svg{
                    transform: rotate(-180deg);
                }
            }
            svg{
                transition: 0.38s ease-in-out;
                transform: rotate(0deg);
            }
        }

        &-wrap {
            display: flex;
            align-items: center;
            @include fluid(gap, 12px, 15px);
        }
    }
}

@media (max-width: 992px){
    .header{
        &__dropdown{
            visibility: visible;
            display: none;
            position: static;
            opacity: 1;
            box-shadow: none;
            flex-direction: column;
            width: auto;
            transition: none;
            a{
                display: block;
                &:last-child{
                    padding-bottom: 0;
                }
            }
        }
    }
}