.contacts{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    @include fluid(gap, 30px, 60px);
  }
  &__left{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-between ;
  } 
  &__right{
    width: 57%;
    height: 100%;
  }
  &__map{
    width: 100%;
    height: 600px;
    @include fluid(height, 520px, 600px);
    border-radius: 10px;
    overflow: hidden;
    canvas{
      -webkit-filter: grayscale(1);
              filter: grayscale(1);
    }
  }
  &__top{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    @include fluid(gap, 30px, 39px);
  }
  &__adress{
    display: flex;
    align-items: flex-start;
    @include fluid(gap, 13px, 17px); 
    &-icon{
      color: #CE9A5D;
      @include fluid(font-size, 22px, 24px);
    }
    &-text{
      color: #FFF;
      letter-spacing: 1px;
      line-height: 125% ;
      @include fluid(font-size, 14px, 16px);
    }
  }
  &__phone{
    display: flex;
    align-items: center;
    @include fluid(gap, 13px, 17px); 
    &-icon{
      color: #CE9A5D;
      @include fluid(font-size, 22px, 24px);
    }
    &-text{
      letter-spacing: 2px;
      color: #FFF;
      font-weight: 700;
      transition: 0.38s ease-in-out;
      @include fluid(font-size, 18px, 20px);
      &:hover{
        color: #CE9A5D;
      }
      &:active{
        color: #B78345;
      }
    }
  }
  &__social{
    &-text{
      color: #666F77;
      line-height: normal;
      @include fluid(font-size, 14px, 16px);
      @include fluid(margin-bottom, 20px, 26px);
    }
    &-list{
      display: flex;
      @include fluid(gap, 30px, 40px);
    }
    &-item{
      color: #666F77;
      @include fluid(font-size, 22px, 24px);
    }
  }
  &__data{
    &-title{
      color: #666F77;
      line-height: normal;
      @include fluid(font-size, 14px, 16px);
      @include fluid(margin-bottom, 20px, 30px);
    }
    &-text{
      color: #FFF;
      line-height: 125%;
      font-size: 14px;
      &:not(:last-child){
        @include fluid(margin-bottom, 15px, 20px);
      }
      p{
        color: #FFF;
        line-height: 125%;
        font-size: 14px;
      }
    }
  }
}
// .ymaps-2-1-79-inner-panes{
//   -webkit-filter: grayscale(1);
//           filter: grayscale(1);
// }

@media (max-width: 992px){
  .contacts{
    &__wrapper{
      flex-direction: column;
    }
    &__left{
      width: 100%;
      flex-direction: row;
    }
    &__top{
      margin-bottom: 0;
      justify-content: flex-end;
      gap: 20px;
    }
    &__bottom{
      width: 50%;
    }
    &__right{
      width: 100%;
    }
    .social{
      display: flex;
    }
  }
}

@media (max-width: 768px){
  .contacts{
    &__left{
      flex-direction: column;
      gap: 20px;
    }
    &__bottom{
      width: 100%;
    }
    &__map{
      height: 450px;
    }
  }
}

@media (max-width: 576px){
  .contacts{
    &__top{
      gap: 15px;
    }
    &__map{
      height: 380px;
    }
  }
}