.header {
  background-color: #212324;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2E3235;
    @include fluid(padding-top, 15px, 30px);
    @include fluid(padding-bottom, 15px, 35px);
  }

  &__bottom {
    @include fluid(padding-top, 25px, 35px);
    @include fluid(padding-bottom, 25px, 35px);

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include fluid(gap, 10px, 15px);

    &-item {
      display: flex;
      align-items: center;
      @include fluid(gap, 15px, 20px);
    }

    &-icon {
      color: #CE9A5D;
      @include fluid(font-size, 22px, 24px);
    }

    &-address {
      line-height: 125%;
      @include fluid(font-size, 12px, 14px);
      @include fluid(max-width, 200px, 230px);
    }

    &-phone {
      color: #FFF;
      font-weight: 700;
      transition: 0.38s ease-in-out;
      @include fluid(max-width, 200px, 222px);
      @include fluid(font-size, 16px, 20px);

      &:hover {
        color: #CE9A5D;
      }

      &:active {
        color: #B78345;
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__links {
      display: none;
    }

    &__top {
      border: none;
    }

    &__buttons {
      display: none;
    }

    &__bottom {
      padding: 0;
    }
  }

  .menu {
    &__list {
      flex-direction: column;
    }
  }
}

@media (max-width: 576px) {
  .header {
    margin-bottom: 15px;

    &__top {
      position: relative;
      justify-content: center;
    }

    .logo {
      margin: 0;
      flex-direction: column;

      &__img {
        height: 47px;
      }

      &__text {
        font-size: 14px;
        max-width: 247px;
        text-align: center;
      }
    }
  }
}