.promo {
  width: 100%;
  @include fluid(padding-right, 20px, 40px);
  @include fluid(padding-left, 20px, 40px);

  &-swiper {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .swiper {
    &-slide {
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: column;
      @include fluid(padding-top, 30px, 88px);
      @include fluid(padding-bottom, 60px, 151px);
    }

    &__img {
      position: absolute;
      -o-object-position: center;
      object-position: center;
      -o-object-fit: cover;
      object-fit: cover;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__date {
      display: flex;
      align-items: center;
      @include fluid(gap, 15px, 19px);
      @include fluid(margin-bottom, 20px, 80px);

      &-month,
      &-time {
        color: #fff;
        @include fluid(font-size, 20px, 32px);
      }

      &-slash {
        width: 1px;
        height: 60px;
        transform: rotate(15deg);
        background-color: #CE9A5D;
        @include fluid(height, 40px, 60px);
      }
    }

    &__title {
      position: relative;
      width: 44%;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      font-family: 'Arvo';
      line-height: 93%;
      @include fluid(font-size, 38px, 96px);
      @include fluid(margin-bottom, 15px, 25px);
      @include fluid(padding-bottom, 15px, 25px);

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        height: 1px;
        background-color: #666F77;
        @include fluid(width, 300px, 416px);
      }

      span {
        color: #CE9A5D;
      }
    }

    &__box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
    }

    &__text {
      color: #FFF;
      text-align: center;
      @include fluid(font-size, 18px, 32px);
      @include fluid(margin-bottom, 30px, 70px);
    }
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    justify-content: center;
    gap: 30px;
    z-index: 1;
    @include fluid(bottom, 15px, 60px);
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    border: 1px solid transparent;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.38s ease-in-out;
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      transition: 0.38s ease-in-out;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #FFFFFF;
      transform: translate(-50%, -50%);
    }
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    border: 1px solid #CE9A5D;

    &::before {
      background-color: #CE9A5D;
    }
  }
}

@media (max-width: 992px) {

  .promo .swiper-horizontal>.swiper-pagination-bullets,
  .promo .swiper-pagination-bullets.swiper-pagination-horizontal {
    gap: 10px;
  }

  .promo {
    .swiper {
      &__title {
        font-size: 38px;
      }
    }
  }
}

@media (max-width: 768px) {
  .promo {
    padding-left: 15px;
    padding-right: 15px;

    .swiper__title {
      width: 60%;
    }
  }
}

@media (max-width: 576px) {
  section {
    margin-bottom: 30px;
  }

  .promo {
    .swiper {
      &-slide {
        padding-top: 27px;
        padding-bottom: 74px;
      }

      &__date {
        gap: 22px;
        margin-bottom: 39px;

        &-month {
          font-size: 18px;
        }

        &-slash {
          height: 36px;
        }
      }

      &__title {
        width: 80%;
        font-size: 32px;
        padding-bottom: 19px;

        &::after {
          width: 230px;
        }
      }
    }
  }

  .promo .swiper-horizontal>.swiper-pagination-bullets,
  .promo .swiper-pagination-bullets.swiper-pagination-horizontal {
    gap: 18px;
    bottom: 27px;
  }
}