.table {
  display: flex;
  flex-direction: column;

  &__head {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: 10px;
    background: #2E3235;
    @include fluid(grid-template-rows, 60px, 80px);

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: #CE9A5D;
      letter-spacing: 1px;
      line-height: 125%;
      @include fluid(font-size, 14px, 16px);
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(100px, auto);

    &:nth-child(odd) {
      background-color: #262829;
      border-radius: 10px;
    }

    &-item {
      display: flex;
      justify-content: center;
      letter-spacing: 1px;
      align-items: center;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 125%;
      color: #666F77;
      border-right: 1px solid #2E3235;
      @include fluid(font-size, 14px, 16px);

      &:first-child,
      &:last-child {
        color: #FFFFFF;
      }

      &:last-child {
        font-weight: 700;
        border: none;
      }

      &.table__row-item--accent {
        color: #CE9A5D;
      }
    }
  }
}

@media (max-width: 992px) {
  .table {
    overflow: auto;

    &__head {
      width: 900px;

      &--two {
        width: unset;
      }
    }

    &__row {
      width: 900px;
      grid-template-rows: minmax(85px, auto);

      &--two {
        width: unset;
      }
    }
  }
}

@media (max-width: 576px) {
  .table {
    &__head {
      width: 820px;

      &--two {
        width: unset;
      }
    }

    &__row {
      width: 820px;

      &--two {
        width: unset;
      }
    }
  }
}