.tests {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    @include fluid(gap, 20px, 30px);

    &-item {
      width: 100%;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        .tests__img{
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
          transform: scale(1.03);
        }
        .tests__content{
          &-linkText{
            color: #CE9A5D;  
          }
          &-linkIcon{
            svg {

              circle,
              path {
                stroke: #CE9A5D;
              }
            }
          }
        }
      }
    }
  }

  &__img {
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: 0.38s ease-in-out;
    transform: scale(1);
    width: 100%;

  }

  &__content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(360deg, rgba(33, 35, 36, 0.95) 0%, rgba(33, 35, 36, 0.60) 100%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    @include fluid(padding, 15px, 30px);

    &-left {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @include fluid(gap, 6px, 10px);
    }

    &-right {
      display: flex;
      @include fluid(gap, 10px, 20px);
      align-items: center;
    }

    &-text {
      color: #CE9A5D;
      text-transform: uppercase;
      line-height: normal;
      @include fluid(font-size, 14px, 16px);
    }

    &-name {
      font-family: 'Arvo';
      color: #FFFFFF;
      line-height: 93%;
      font-weight: 700;
      text-transform: uppercase;
      @include fluid(font-size, 18px, 24px);
    }

    &-linkText {
      color: #666F77;
      line-height: 125%;
      transition: 0.38s ease-in-out;
      @include fluid(font-size, 14px, 16px);
    }

    &-linkIcon {
      svg {
        @include fluid(width, 28px, 32px);
        @include fluid(height, 28px, 32px);
        circle,
        path {
          transition: 0.38s ease-in-out;
          stroke: #666F77;
        }
      }
    }
  }
}

@media (max-width: 992px){
  .tests{
    &__list{
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: 768px){
  .tests{
    &__content{
      padding: 10px;
      &-name{
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 576px){
  .tests{
    &__list{
      grid-template-columns: 1fr;
    }
  }
}