.list {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 10px, 20px);
    @include fluid(margin-bottom, 15px, 27px);
    &__item {
        display: flex;
        align-items: center;
        @include fluid(gap, 21px, 28px);
        color: #535353;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 400;
        line-height: 130%;
        @include fluid(font-size, 14px, 18px);
        &::before{
            flex-shrink: 0;
            content: '';
            @include fluid(width, 11px, 13px);
            @include fluid(height, 11px, 13px);
            border-radius: 50%;
            background-color: #549DE5;
        }
    }
}
.listWrapper{
    display: flex;
    @include fluid(gap, 60px, 70px)
}

@media (max-width: 768px){
    .list{
        margin-bottom: 0;
    }
    .listWrapper{
        flex-direction: column;
        gap: 10px;
    }
}